/* Define a cor do texto do corpo do documento */
body {
  color: var(--color-principal);
}

/* Adiciona um espaçamento interno de 20px em todas as direções dentro de cada elemento <section> */
section {
  padding: 20px;
}

/* Centraliza o texto dentro do elemento <main> */
/* Define o tamanho da fonte do texto dentro do elemento <main> */
main {
  text-align: center;
  font-size: 1.2rem;
}

/* Define a cor do texto dentro do elemento <figcaption> */
/* Define o tamanho da fonte do texto dentro do elemento <figcaption> */
/* Adiciona margem de 1rem em todas as direções ao elemento <figcaption> */
figcaption {
  color: var(--botao-texto--conteudo);
  font-size: 1rem;
  margin: 1rem;
}

/* Define a cor do texto dentro do elemento com a classe .titulo-span */
.titulo-span {
  color: var(--color-link);
}

/* Define a cor de fundo do elemento com tom de azul claro */
/* Adiciona bordas arredondadas com raio de 10px ao elemento */
/* Adiciona um espaçamento interno de 1.2rem em todas as direções dentro do elemento */
/* Define o comportamento de exibição do conteúdo que ultrapassa os limites do elemento */
/* Define como as palavras longas ou sem espaço devem ser quebradas e exibidas em várias linhas */
.background-conteudo {
  background-color: var(--background--conteudo);
  border-radius: 10px;
  padding: 1.2rem;
  overflow: auto;
  word-wrap: break-word;
}

/* Adiciona margem de 2rem em todas as direções ao elemento com a classe .titulo-conteudo */
/* Adiciona o caractere ":" após o conteúdo do elemento com a classe .titulo-conteudo */
.titulo-conteudo {
  margin: 2rem;
}

/* Adiciona margem de 2rem em todas as direções ao elemento com a classe .texto-conteudo */
.texto-conteudo {
  margin: 2rem;
}

/* Adiciona margem de 2rem em todas as direções ao elemento com a classe .item-conteudo */
/* Adiciona o emoji "➡️" antes do conteúdo do elemento com a classe .item-conteudo */
.item-conteudo {
  margin: 2rem;
}

/* Define a cor do texto dos links com a classe .link-conteudo */
/* Remove a decoração de sublinhado dos links */
.link-conteudo {
  color: var(--color-link);
  text-decoration: none;
}

/* Adiciona um sublinhado aos links quando o mouse está em cima ou quando estão em foco */
.link-conteudo:hover,
.link-conteudo:focus {
  text-decoration: underline;
}

/* Define a largura máxima para as imagens dentro do elemento com a classe .imagem-conteudo */
.imagem-conteudo {
  max-width: 600px;
}

/* Define a aparência do elemento com a classe .banner-conteudo */
/* Define a posição do elemento como relativa */
/* Calcula a largura do elemento com base em uma fórmula */
/* Centraliza horizontalmente o elemento usando margens automáticas */
/* Define a altura mínima do elemento como 100% da altura da viewport */
/* Define o espaçamento entre colunas em um layout de várias colunas */
/* Calcula o espaçamento vertical do elemento com base em uma fórmula */
.banner-conteudo {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

/* Define a aparência do elemento com a classe .banner-container */
/* Cria um gradiente linear como plano de fundo */
/* Redimensiona a imagem de fundo para cobrir todo o elemento */
.banner-container {
  background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.295));
  background-size: cover;
}

/* Define a aparência do texto e links dentro do elemento com a classe .banner-conteudo > div */
/* Transforma o texto em letras maiúsculas */
/* Define o espaçamento entre letras */
/* Define o tamanho da fonte do texto */
/* Define a cor de fundo do texto */
/* Cria um gradiente linear como imagem de fundo */
/* Redimensiona a imagem de fundo para cobrir todo o texto */
/* Define a propriedade de corte da imagem de fundo como texto (para navegadores webkit) */
/* Define a cor do texto como transparente (para navegadores webkit) */
/* Define a propriedade de corte da imagem de fundo como texto (para navegadores Mozilla) */
/* Define a cor do texto como transparente (para navegadores Mozilla) */
.banner-conteudo > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  background-color: var(--color-titulo--conteudo);
  background-image: linear-gradient(45deg, var(--color-titulo--conteudo), #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Define a aparência do texto do título dentro do elemento com a classe .banner-conteudo > div */
/* Transforma a primeira letra de cada palavra em maiúscula */
/* Define o espaçamento entre letras */
/* Define a família da fonte para "Roboto" ou fontes sem serifa */
/* Define o peso da fonte como negrito */
/* Define o tamanho da fonte com base em uma fórmula */
/* Define a cor de fundo do texto */
/* Cria um gradiente linear como imagem de fundo */
/* Redimensiona a imagem de fundo para cobrir todo o texto */
/* Define a propriedade de corte da imagem de fundo como texto (para navegadores webkit) */
/* Define a cor do texto como transparente (para navegadores webkit) */
/* Define a propriedade de corte da imagem de fundo como texto (para navegadores Mozilla) */
/* Define a cor do texto como transparente (para navegadores Mozilla) */
.banner-conteudo > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: var(--color-titulo--conteudo);
  background-image: linear-gradient(45deg, var(--color-titulo--conteudo), #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Define a aparência da linha horizontal dentro do elemento com a classe .banner-conteudo > div */
/* Define o elemento <hr> como bloco */
/* Define a cor de fundo do elemento <hr> */
/* Define a altura do elemento <hr> */
/* Define a largura do elemento <hr> */
/* Remove as bordas do elemento <hr> */
/* Define margens superior e inferior de 1.125rem e margens esquerda e direita de 0 e 1.875rem */
.banner-conteudo > div hr {
  display: block;
  background: var(--color-titulo--conteudo);
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

/* Define a aparência do texto dos parágrafos dentro do elemento com a classe .banner-conteudo > div */
/* Define a altura da linha do parágrafo */
.banner-conteudo > div p {
  line-height: 1.6;
}

/* Define a aparência dos links dentro do elemento com a classe .banner-conteudo */
/* Define o link como bloco em linha */
/* Remove a decoração de sublinhado dos links */
/* Transforma o texto em letras maiúsculas */
/* Define a cor do texto dos links */
/* Define o peso da fonte dos links */
/* Define a cor de fundo dos links */
/* Define o raio das bordas dos links */
/* Define uma transição suave de 0.3 segundos para os links */
.banner-conteudo a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--botao-texto--conteudo);
  font-weight: 500;
  background: var(--branco);
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

/* Define a aparência dos links quando o mouse está em cima */
/* Define uma borda sólida de 0.125rem nos links quando o mouse está em cima */
/* Define a cor do texto dos links quando o mouse está em cima */
.banner-conteudo > div a:hover {
  border: 0.125rem solid var(--color-titulo--conteudo);
  color: var(--color-titulo--conteudo);
}

/* Define a aparência do elemento com a classe .banner-conteudo quando a largura da tela é maior ou igual a 48rem */
/* Define o elemento como um flex container */
/* Alinha os itens ao centro verticalmente */
@media screen and (min-width: 48rem) {
  .banner-conteudo {
    display: flex;
    align-items: center;
  }
}

/* Define a aparência do elemento com a classe .banner-conteudo quando a largura da tela é menor ou igual a 991px */
/* Calcula o espaçamento vertical do elemento com base em uma fórmula */
/* Define a largura máxima para as imagens dentro do elemento com a classe .imagem-conteudo */
@media (max-width: 991px) {
  .banner-conteudo {
    padding-block: min(20vh, 20rem);
  }

  .imagem-conteudo {
    max-width: 300px;
  }
}
