body{
  overflow-x: hidden;
}

#botao-comeca {
  background-color: var(--branco);
  padding: 1em 2em;
  border-radius: 2em;
  border: none;
  border: 3px solid var(--preto);
  box-shadow: 0 5px var(--preto);
  cursor: pointer;
  transition: all 0.3s ease;
}

#botao-envio {
  display: block;
  background-color: var(--color-link);
  color: var(--preto);
  border: 3px solid var(--preto);
  box-shadow: 0 5px var(--preto);
  padding: 1em 2em;
  border-radius: 2em;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

#botao-comeca:hover,
#botao-envio:hover {
  box-shadow: none;
  transform: translateY(5px);
  background-color: var(--color-link);
  transition: all 0.3s ease;

}

.container-jogo-dois {
  width: min(90%, 31.25em);
  position: absolute;
  transform: translate(-50%, 5%) scale(1);
  top: 50%;
  left: 50%;
}

.involucro {
  border-radius: 0.8em;
  padding: 4em 2em;
  background-color: var(--branco);
  border: 5px solid var(--preto);
  box-shadow: 0 10px var(--preto);

}

.exibicao-palavras {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 2em auto;
}

.letras {
  background-color: var(--branco);
  height: 3em;
  width: 3em;
  border-radius: 0.5em;
  box-shadow: 0 0.4em var(--preto);
  border: 2px solid var(--preto);
  cursor: pointer;
  margin-top: 0.45rem;
  transition: all 0.3s ease;
}

.letras:hover {
  background-color: var(--color-link);
  transition: all 0.3s ease;
}

.input-container {
  text-align: center;
  margin-bottom: 2em 0;
}

.telaDerrota {
  background-color: var(--tela-derrota);

}

.palavras-validas {
  text-align: center;
  margin-top: 1.5em;
}

.esconder {
  display: none;
}

.subitulo-informacao {
  font-size: 1.2rem;
  font: bold;
  text-align: center;
}

.caixa-informacao-quiz-puzzle,
.caixa-informacao-puzzle {
  width: 540px;
  background: var(--branco);
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.caixa-informacao-quiz-puzzle .titulo-informacao,
.caixa-informacao-puzzle .titulo-informacao {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid var(--caixa-infomacao-border);
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.caixa-informacao-quiz-puzzle .lista-informacao,
.caixa-informacao-puzzle .lista-informacao {
  padding: 15px 30px;
}

.caixa-informacao-quiz-puzzle .lista-informacao .informacao,
.caixa-informacao-puzzle .lista-informacao .informacao {
  margin: 5px 0;
  font-size: 17px;
}

.caixa-informacao-quiz-puzzle .lista-informacao .informacao span,
.caixa-informacao-puzzle .lista-informacao .informacao span {
  font-weight: 600;
  color: var(--color-link);
}

.caixa-informacao-quiz-puzzle .botoes,
.caixa-informacao-puzzle .botoes-puzzle {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-top: 1px solid var(--caixa-infomacao-border);
}

.caixa-informacao-quiz-puzzle .botoes button,
.caixa-informacao-puzzle .botoes-puzzle button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--color-link);
  transition: all 0.3s ease;
}

.caixa-informacao-quiz-puzzle,
.caixa-informacao-puzzle {
  position: absolute;
  margin-top: -13rem;
  left: 50%;
  transform: translate(-50%, -62%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caixa-informacao-quiz-puzzle.informacaoAtivo,
.caixa-informacao-puzzle.informacaoAtivo {
  opacity: 1;
  pointer-events: auto;
}

.botoes-puzzle button.reiniciar-puzzle {
  color: var(--branco);
  background: var(--color-link);
}

.botoes-puzzle button.reiniciar-puzzle:hover {
  background: var(--color-link--secundarios);
}

.botoes-puzzle button.sair-puzzle {
  color: var(--color-link);
  background: var(--branco);
}

.botoes-puzzle button.sair-puzzle:hover {
  color: var(--branco);
  background: var(--color-link);
}

@media screen and (max-width: 550px) {
  .caixa-informacao-puzzle {
    width: 363px;
  }

  .caixa-informacao-puzzle .botoes-puzzle {
    justify-content: center;
  }
}

.ativo-forca {
  color: var(--preto);
  background-color: var(--color-link);
  box-shadow: none;
  transform: translateY(0.4em);
}

#mensagem-erro {
  color: var(--vermelho);
  text-align: center;
  margin-bottom: 2em;
}

@media screen and (max-width: 500px) {
  .container-jogo-dois {
    transform: translate(-50%, -30%) scale(1);
  }

  .letras {
    margin: 0.45rem auto 0 auto;
  }
}

@keyframes onda-audio {
  0% {
    height: 10px;
    transform: translateY(0px);
    background: #F05548;
  }

  25% {
    height: 40px;
    transform: translateY(-5px);
    scale: (1.7);
    background: #F07248;
  }

  50% {
    height: 10px;
    transform: translateY(0px);
    scale: (1.7);
    background: #F09048;
  }

  100% {
    height: 10px;
    transform: translateY(0px);
    scale: (1.7);
    background: var(--color-link);
  }
}

.onda-audio {
  display: none;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  height: 60px;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.onda-audio span {
  height: 18px;
  width: 10px;
  display: block;
  border-radius: 8px;
  animation: onda-audio 2.2s infinite ease-in-out
}

.onda-audio span:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s
}

.onda-audio span:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s
}

.onda-audio span:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s
}

.onda-audio span:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s
}

.onda-audio span:nth-child(6) {
  left: 55px;
  animation-delay: 1s
}

@media screen and (max-width: 555px){
  .caixa-informacao-quiz-puzzle{
    width: 280px;
  }
  
  .caixa-informacao-quiz-puzzle .subitulo-informacao {
    font-size: 14px;
  }
}