.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("../../img/background/background.png");
  background-size: cover;
}

.banner .contente {
  max-width: 900px;
  text-align: center;
}

.banner .contente h2 {
  font-size: 5em;
  color: #fff;
}

.banner .contente p {
  font-size: 1em;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .banner .contente h2 {
    font-size: 3em;
  }
}