@import url("banner.css");  /* Importa o arquivo "banner.css" */
@import url("linha.css");  /* Importa o arquivo "linha.css" */
@import url("sobre.css");  /* Importa o arquivo "sobre.css" */
@import url("curiosidades.css");  /* Importa o arquivo "curiosidades.css" */
@import url("contato.css");  /* Importa o arquivo "contato.css" */

section {
  padding: 80px;  /* Adiciona um espaçamento de 80 pixels em todas as direções (topo, direita, baixo, esquerda) para as seções */
}

p {
  font-weight: 300;  /* Define o peso da fonte como 300 (mais leve) */
  color: #111;  /* Define a cor do texto como um tom de cinza (#111) */
}

.texto {
  padding: 15px 0 5px;  /* Adiciona um espaçamento de 15 pixels acima, 0 pixels à direita/esquerda e 5 pixels abaixo para a classe "texto" */
  text-align: center;  /* Centraliza o texto dentro do elemento */
}

.texto h3 {
  font-weight: 400;  /* Define o peso da fonte para os títulos (h3) como 400 (mais padrão) */
  color: #111;  /* Define a cor dos títulos como um tom de cinza (#111) */
}

.imagem-caixa {
  position: relative;  /* Define a posição do elemento como relativa */
  width: 100%;  /* Define a largura do elemento como 100% */
  min-height: 300px;  /* Define a altura mínima do elemento como 300 pixels */
}

.imagem-caixa img {
  position: absolute;  /* Define a posição da imagem como absoluta, em relação ao elemento pai */
  top: 0;  /* Posiciona a imagem no topo do elemento pai */
  left: 0;  /* Posiciona a imagem à esquerda do elemento pai */
  width: 100%;  /* Define a largura da imagem como 100% do elemento pai */
  height: 100%;  /* Define a altura da imagem como 100% do elemento pai */
  object-fit: cover;  /* Redimensiona a imagem para cobrir todo o espaço disponível no elemento pai */
}

.menu .contente .caixa .imagem-caixa {
  position: relative;  /* Define a posição do elemento como relativa */
  width: 100%;  /* Define a largura do elemento como 100% */
  height: 300px;  /* Define a altura do elemento como 300 pixels */
}

.menu .contente .caixa .imagem-caixa img {
  position: absolute;  /* Define a posição da imagem como absoluta, em relação ao elemento pai */
  top: 0;  /* Posiciona a imagem no topo do elemento pai */
  left: 0;  /* Posiciona a imagem à esquerda do elemento pai */
  width: 100%;  /* Define a largura da imagem como 100% do elemento pai */
  height: 100%;  /* Define a altura da imagem como 100% do elemento pai */
  object-fit: cover;  /* Redimensiona a imagem para cobrir todo o espaço disponível no elemento pai */
}

/* Botões */

.botao {
  font-size: 1.5em;  /* Define o tamanho da fonte para os botões como 1.5em (em relação ao tamanho da fonte padrão) */
  color: #fff;  /* Define a cor do texto nos botões como branco */
  background: #ff0157;  /* Define o fundo dos botões como um tom de rosa (#ff0157) */
  display: inline-block;  /* Define os botões como elementos inline com um bloco de largura e altura */
  padding: 10px 30px;  /* Adiciona um espaçamento interno de 10 pixels acima/abaixo e 30 pixels à direita/esquerda para os botões */
  text-transform: uppercase;  /* Transforma o texto dos botões em letras maiúsculas */
  margin-top: 20px;  /* Adiciona um espaçamento de 20 pixels acima para os botões */
  text-decoration: none;  /* Remove a decoração de texto (como sublinhado) nos botões */
  letter-spacing: 2px;  /* Adiciona um espaçamento entre as letras dos botões de 2 pixels */
  transition: .5s;  /* Define uma transição suave de 0,5 segundos para as propriedades que sofrerem alteração */
}

.botao:hover {
  letter-spacing: 5px;  /* Aumenta o espaçamento entre as letras dos botões para 5 pixels quando o cursor do mouse passa por cima deles */
}

@media (max-width: 991px) {
  section {
    padding: 20px;  /* Quando a largura da tela for igual ou inferior a 991 pixels, o espaçamento das seções será reduzido para 20 pixels em todas as direções */
  }
}
